<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="css/globaladmin.css" />
    <link rel="stylesheet" href="css/admin.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Unica One:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Space Grotesk:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Orelega One:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="divframer-72rtr7">
      <div class="divframer-19on739">
        <div class="svg"></div>
        <img
          class="xsu9iptbhtbtxmmq9lj0kxd5kp4jp-icon"
          alt=""
          src="publicsecurity/xsu9iptbhtbtxmmq9lj0kxd5kp4jpg@2x.png"
        />

        <div class="divframer-1os3p79">
          <div class="pframer-text">
            <div class="pixelchat-control-center">
              Pixelchat control center.
            </div>
          </div>
          <div class="pframer-text1">
            <div class="pixelchat-control-center">Get started</div>
          </div>
          <div class="pframer-text2">
            <div class="pixelchat-control-center">Sunday, August 13, 2023</div>
          </div>
        </div>
        <div class="admin">ADMIN</div>
      </div>
      <div class="divframer-133h1ov">
        <div class="divh2d-52b316df"></div>
        <div class="divframer-13t5h9d">
          <div class="heading-2">
            <div class="pixelchat-mastery">Pixelchat Mastery</div>
          </div>
          <div class="divframer-iishai">
            <div class="heading-3">
              <div class="smash-your-way-container">
                <p class="smash-your-way">
                  Smash your way through the responsibilities of a Pixelchat
                  admin!
                </p>
                <p class="smash-your-way">
                  Master the craft of managing a bustling web community using
                </p>
                <p class="smash-your-way">our legendary admin tools.</p>
              </div>
            </div>
            <div class="heading-31">
              <div class="smash-your-way-container">
                <p class="smash-your-way">
                  From the first login to lifelong mastery, Pixelchat ensures
                  that
                </p>
                <p class="smash-your-way">
                  you have everything you need to keep conversations flowing.
                </p>
                <p class="smash-your-way">
                  Embrace the power to make important decisions in real time.
                </p>
              </div>
            </div>
            <div class="heading-32">
              <div class="smash-your-way-container">
                <p class="smash-your-way">
                  Enable, disengage, and delay no more! Unleash the mass of
                </p>
                <p class="smash-your-way">
                  design and management features that the Pixelchat Admin Panel
                </p>
                <p class="smash-your-way">
                  has to offer. Dominate the webapp game and become a true
                </p>
                <p class="smash-your-way">pixel artist.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="divframer-9qi1a9">
        <img
          class="zuqhxkhcgp8cpgxth2soju7w04jpg-icon"
          alt=""
          src="publicsecurity/zuqhxkhcgp8cpgxth2soju7w04jpg@2x.png"
        />

        <div class="heading-1">
          <div class="administrate-like-a">Administrate like a boss.</div>
        </div>
      </div>
      <div class="divframer-1cijk7q">
        <div class="divframer-15jdpvt">
          <img
            class="bh7skipuy8uyqviqpqntvk6q690jp-icon"
            alt=""
            src="publicsecurity/bh7skipuy8uyqviqpqntvk6q690jpg@2x.png"
          />

          <div class="divframer-awgvm3">
            <div class="heading-33">
              <div class="voyage-through-chat-container">
                <p class="smash-your-way">Voyage Through Chat, Photos, and</p>
                <p class="smash-your-way">Friends</p>
              </div>
            </div>
            <div class="heading-34">
              <div class="nurture-your-connections-container">
                <p class="smash-your-way">
                  Nurture your connections, communicate with
                </p>
                <p class="smash-your-way">
                  friends, and share memories by harnessing
                </p>
                <p class="smash-your-way">
                  PixelChat’s cutting-edge features assembled in a
                </p>
                <p class="smash-your-way">user-friendly interface.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="divframer-15jdpvt">
          <div class="divframer-awgvm3">
            <div class="heading-35">
              <div class="voyage-through-chat-container">
                <p class="smash-your-way">Control Center for Space-</p>
                <p class="smash-your-way">Conscious Conversationalists</p>
              </div>
            </div>
            <div class="heading-36">
              <div class="nurture-your-connections-container">
                <p class="smash-your-way">
                  Pilot your way through the all-in-one solution for
                </p>
                <p class="smash-your-way">
                  cosmic conversations and social adventures,
                </p>
                <p class="smash-your-way">
                  tailored to keep you in orbit around your growing
                </p>
                <p class="smash-your-way">network.</p>
              </div>
            </div>
          </div>
          <img
            class="bh7skipuy8uyqviqpqntvk6q690jp-icon"
            alt=""
            src="publicsecurity/jfwgdklxtkmt1zepjkuoo7w8ajpg@2x.png"
          />
        </div>
      </div>
      <div class="divframer-1gurlz7">
        <div class="divframer-1syxk8b">
          <div class="divframer-1lrpzfn">
            <img
              class="b104ag3ucqifdg8m5tj3sfmoi1yjp-icon"
              alt=""
              src="publicsecurity/b104ag3ucqifdg8m5tj3sfmoi1yjpg@2x.png"
            />

            <div class="divframer-f5xnnd">
              <div class="pframer-text3">
                <div class="traffic-analytics">Traffic Analytics</div>
              </div>
              <div class="pframer-text4">
                <div class="real-time-insights">Real-time Insights</div>
              </div>
            </div>
            <div class="divframer-1wjfm3w">
              <div class="image">
                <img class="vector-icon" alt="" src="publicsecurity/vector.svg" />
              </div>
            </div>
          </div>
          <div class="divframer-1lrpzfn">
            <img
              class="b104ag3ucqifdg8m5tj3sfmoi1yjp-icon"
              alt=""
              src="publicsecurity/ucmq3b2n66napijhmj3ayrnb1cjpg@2x.png"
            />

            <div class="divframer-f5xnnd">
              <div class="pframer-text5">
                <div class="traffic-analytics">Login Tracker</div>
              </div>
              <div class="pframer-text6">
                <div class="real-time-insights">Security Reinforced</div>
              </div>
            </div>
            <div class="divframer-1wjfm3w">
              <div class="image">
                <img class="vector-icon" alt="" src="publicsecurity/vector.svg" />
              </div>
            </div>
          </div>
          <div class="divframer-1lrpzfn">
            <img
              class="b104ag3ucqifdg8m5tj3sfmoi1yjp-icon"
              alt=""
              src="publicsecurity/yihlbftfoe5wlzilk80mamtjxzojpg@2x.png"
            />

            <div class="divframer-f5xnnd">
              <div class="pframer-text7">
                <div class="traffic-analytics">Advance Security</div>
              </div>
              <div class="pframer-text8">
                <div class="real-time-insights">Protect the Pixelverse</div>
              </div>
            </div>
            <div class="divframer-1wjfm3w">
              <div class="image">
                <img class="vector-icon" alt="" src="publicsecurity/vector.svg" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="divframer-rhmz90">
        <div class="divframer-192kxbt">
          <div class="heading-21">
            <div class="ready-to-command">Ready to Command? Power Up!</div>
          </div>
        </div>
        <div class="footer">
          <div class="divframer-1ec65aw">
            <div class="divframer-1lx80jl">
              <div class="divframer-1tobods">
                <div class="heading-22">
                  <div class="dashboard-overview">Dashboard Overview</div>
                </div>
                <div class="heading-23">
                  <div class="smash-your-way-container">
                    <p class="smash-your-way">
                      Witness the power of a holographic 3D globe that
                    </p>
                    <p class="smash-your-way">
                      rotates steadily, highlighting live chat sessions,
                    </p>
                    <p class="smash-your-way">
                      active users, and thriving connections in real-time.
                    </p>
                    <p class="smash-your-way">
                      Be amazed by a ticker that scrolls crucial statistics
                    </p>
                    <p class="smash-your-way">
                      like total users online, active chat rooms, flagged
                    </p>
                    <p class="smash-your-way">messages, and much more.</p>
                  </div>
                </div>
                <div class="svg1">
                  <img class="vector-icon3" alt="" src="publicsecurity/vector1.svg" />
                </div>
              </div>
            </div>
            <div class="divframer-1lx80jl">
              <div class="divframer-hmadso">
                <div class="heading-24">
                  <div class="dashboard-overview">Navigation Controls</div>
                </div>
                <div class="heading-25">
                  <div class="smash-your-way-container">
                    <p class="smash-your-way">
                      Take control like a true space pilot with the
                    </p>
                    <p class="smash-your-way">
                      interactive joystick control. Rotate it effortlessly to
                    </p>
                    <p class="smash-your-way">
                      switch between chat moderation, user management,
                    </p>
                    <p class="smash-your-way">
                      content review, and system settings.
                    </p>
                  </div>
                </div>
                <div class="svg2">
                  <img class="vector-icon4" alt="" src="publicsecurity/vector2.svg" />
                </div>
              </div>
            </div>
            <div class="divframer-1lx80jl">
              <div class="divframer-hmadso">
                <div class="heading-26">
                  <div class="dashboard-overview">
                    <p class="smash-your-way">Message Monitoring</p>
                    <p class="smash-your-way">Module</p>
                  </div>
                </div>
                <div class="heading-25">
                  <div class="smash-your-way-container">
                    <p class="smash-your-way">
                      Visualize chat rooms as interconnected space pods
                    </p>
                    <p class="smash-your-way">
                      floating in the cosmic void. Zoom in to view real-time
                    </p>
                    <p class="smash-your-way">
                      conversations, and with a simple push of a button,
                    </p>
                    <p class="smash-your-way">
                      flag or terminate any inappropriate interactions.
                    </p>
                  </div>
                </div>
                <div class="svg3">
                  <img class="vector-icon5" alt="" src="publicsecurity/vector3.svg" />
                </div>
                <div class="svg4">
                  <img class="vector-icon6" alt="" src="publicsecurity/vector4.svg" />
                </div>
              </div>
            </div>
            <div class="divframer-1lx80jl">
              <div class="divframer-hmadso">
                <div class="heading-28">
                  <div class="dashboard-overview">User Management Bay</div>
                </div>
                <div class="heading-29">
                  <div class="smash-your-way-container">
                    <p class="smash-your-way">
                      Behold a captivating lineup of avatars symbolizing
                    </p>
                    <p class="smash-your-way">
                      top active users, recent sign-ups, and flagged
                    </p>
                    <p class="smash-your-way">
                      profiles. Effortlessly drag and drop user profiles into
                    </p>
                    <p class="smash-your-way">
                      various sections like 'watchlist', 'banned', or 'VIP'.
                    </p>
                  </div>
                </div>
                <div class="svg5">
                  <img class="vector-icon7" alt="" src="publicsecurity/vector5.svg" />
                </div>
                <div class="svg4">
                  <img class="vector-icon6" alt="" src="publicsecurity/vector4.svg" />
                </div>
              </div>
            </div>
            <div class="divframer-1lx80jl">
              <div class="divframer-hmadso">
                <div class="heading-210">
                  <div class="dashboard-overview">Media Galaxy</div>
                </div>
                <div class="heading-25">
                  <div class="smash-your-way-container">
                    <p class="smash-your-way">
                      Immerse yourself in a mesmerizing nebula filled with
                    </p>
                    <p class="smash-your-way">
                      floating media orbs. Review, delete, or spotlight
                    </p>
                    <p class="smash-your-way">
                      content by interacting with these captivating
                    </p>
                    <p class="smash-your-way">celestial spheres.</p>
                  </div>
                </div>
                <div class="svg7">
                  <img class="vector-icon9" alt="" src="publicsecurity/vector6.svg" />
                </div>
              </div>
            </div>
            <div class="divframer-1lx80jl">
              <div class="divframer-hmadso">
                <div class="heading-212">
                  <div class="dashboard-overview">
                    Systems & Settings Sphere
                  </div>
                </div>
                <div class="heading-213">
                  <div class="smash-your-way-container">
                    <p class="smash-your-way">
                      Navigate the spherical interface reminiscent of a
                    </p>
                    <p class="smash-your-way">
                      spaceship's engine. Adjust system settings, backup
                    </p>
                    <p class="smash-your-way">
                      crucial data, or initiate site-wide announcements
                    </p>
                    <p class="smash-your-way">with ease.</p>
                  </div>
                </div>
                <div class="svg8">
                  <img
                    class="vector-icon10"
                    alt=""
                    src="publicsecurity/vector7.svg"
                  />
                </div>
                <div class="svg9">
                  <img
                    class="vector-icon11"
                    alt=""
                    src="publicsecurity/vector8.svg"
                  />
                </div>
              </div>
            </div>
            <div class="divframer-1lx80jl">
              <div class="divframer-hmadso">
                <div class="heading-214">
                  <div class="dashboard-overview">Emergency Eject</div>
                </div>
                <div class="heading-25">
                  <div class="smash-your-way-container">
                    <p class="smash-your-way">
                      In the event of a cyber-attack or system malfunction,
                    </p>
                    <p class="smash-your-way">
                      hit the 'Emergency Eject' button. Bring all operations
                    </p>
                    <p class="smash-your-way">
                      to a halt, secure user data, and notify the tech team
                    </p>
                    <p class="smash-your-way">for immediate action.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="divframer-1lx80jl">
              <div class="divframer-hmadso">
                <div class="heading-216">
                  <div class="dashboard-overview">
                    <p class="smash-your-way">Ambient Space</p>
                    <p class="smash-your-way">Environment</p>
                  </div>
                </div>
                <div class="heading-217">
                  <div class="smash-your-way-container">
                    <p class="smash-your-way">
                      Delight in the tranquility of space with ambient
                    </p>
                    <p class="smash-your-way">
                      cosmic music, distant galaxy panoramas, and digital
                    </p>
                    <p class="smash-your-way">
                      meteors that represent trending topics and viral
                    </p>
                    <p class="smash-your-way">content.</p>
                  </div>
                </div>
                <div class="svg10">
                  <img
                    class="vector-icon12"
                    alt=""
                    src="publicsecurity/vector9.svg"
                  />
                </div>
              </div>
            </div>
            <div class="divframer-1lx80jl">
              <div class="divframer-x5ra7">
                <div class="heading-218">
                  <div class="dashboard-overview">AI Assistant - Orion</div>
                </div>
                <div class="heading-219">
                  <div class="smash-your-way-container">
                    <p class="smash-your-way">
                      Let your own onboard AI, Orion, guide you with
                    </p>
                    <p class="smash-your-way">
                      alerts, recommendations, and valuable insights.
                    </p>
                    <p class="smash-your-way">
                      Request Orion’s aid for user statistics, platform
                    </p>
                    <p class="smash-your-way">
                      reports, or even mood sentiment analysis on any
                    </p>
                    <p class="smash-your-way">given day.</p>
                  </div>
                </div>
                <div class="svg11">
                  <img
                    class="vector-icon13"
                    alt=""
                    src="publicsecurity/vector10.svg"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="divframer-2a86q1">
            <div class="divframer-1qxg16">
              <div class="pframer-text9">
                <div class="help">Help</div>
              </div>
              <div class="divframer-1qq6lrn">
                <div class="pframer-text10">
                  <div class="nurture-your-connections-container">FAQ</div>
                </div>
                <div class="pframer-text11">
                  <div class="nurture-your-connections-container">Tutorial</div>
                </div>
                <div class="pframer-text12">
                  <div class="nurture-your-connections-container">Support</div>
                </div>
              </div>
            </div>
            <div class="divframer-hejsyf">
              <div class="pframer-text13">
                <div class="help">Account</div>
              </div>
              <div class="divframer-1qq6lrn">
                <div class="pframer-text14">
                  <div class="nurture-your-connections-container">Profile</div>
                </div>
                <div class="pframer-text15">
                  <div class="nurture-your-connections-container">Settings</div>
                </div>
                <div class="pframer-text16">
                  <div class="nurture-your-connections-container">Logout</div>
                </div>
              </div>
            </div>
            <div class="divframer-1fsrbvm">
              <div class="pframer-text16">
                <div class="help">About</div>
              </div>
              <div class="divframer-1qq6lrn">
                <div class="pframer-text18">
                  <div class="nurture-your-connections-container">
                    Pixelchat
                  </div>
                </div>
                <div class="pframer-text19">
                  <div class="nurture-your-connections-container">Team</div>
                </div>
                <div class="pframer-text20">
                  <div class="nurture-your-connections-container">Contact</div>
                </div>
              </div>
            </div>
          </div>
          <div class="divframer-19z5w59">
            <div class="pframer-text21">
              <div class="nurture-your-connections-container">
                © 2023 Pixelchat. All rights reserved.
              </div>
            </div>
          </div>
          <div class="pseudo"></div>
        </div>
        <div class="divframer-16omxf0">
          <div class="divframer-1g5r9t">
            <div class="divframer-1wjfm3w">
              <img class="image-icon" alt="" src="publicsecurity/image.svg" />
            </div>
            <div class="divframer-1wjfm3w">
              <img class="image-icon" alt="" src="publicsecurity/image1.svg" />
            </div>
            <div class="divframer-1wjfm3w">
              <div class="image3">
                <img class="vector-icon14" alt="" src="publicsecurity/vector11.svg" />
              </div>
            </div>
            <div class="divframer-1wjfm3w">
              <div class="image4">
                <img class="vector-icon15" alt="" src="publicsecurity/vector12.svg" />
              </div>
            </div>
          </div>
          <div class="pframer-text22">
            <div class="nurture-your-connections-container">
              Copyright © 2023 PixelChat, Inc. All rights reserved.
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
