<!DOCTYPE html>
<html lang="en">

<head>
    <title>PixelChat</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="icon" type="image/png" href="images/icons/pixelchat.ico"/>
    <title>Register</title>

</head>

<body>
    <div class="limiter">
        <div class="logo">
            PixelChat
        </div>
        <div class="navbar">
            <a href="index.html" class="navbar-item">Home</a>
            <a href="login.html" class="navbar-item">Login</a>
            <a href="register.html" class="navbar-item">Register</a>
        </div>
        <div class="container-register">
            <div class="wrap-register">
                <form class="login-form validate-form" id="registerForm" action="/register" method="post" enctype="multipart/form-data">
                    <span class="login-form-title">
                        Member Register
                    </span>
                    <div class="wrap-input validate-input"
                        data-validate="Please enter a valid email address in the format: yourname@example.com">
                        <input id="emailInput" class="input" type="email" name="email" placeholder="Email" required>
                        <span class="focus-input"></span>
                        <span class="symbol-input">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="wrap-input validate-input" data-validate="Password is required: Minimum 8 characters">
                        <input id="passwordInput" class="input" type="password" name="password" placeholder="Password" >
                        <span class="focus-input"></span>
                        <span class="symbol-input">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>
                    <button id="togglePassword" type="button" class="password-toggle-btn">Show</button>


                    <!-- Color Selection -->
                    <input type="hidden" id="colorInput" name="color">

                    <div class="container-register-form-btn">
                        <button id="colorPopupBtn" class="login-form-btn register-form-btn" type="button">
                            Choose a Color
                        </button>
                        <div id="colorPopup" class="color-popup">
                            <div class="color-options-container">
                                <div class="color-option" style="background-color: #cb0101;" data-color="#cb0101"></div>
                                <div class="color-option" style="background-color: #1100ff;" data-color="#1100ff"></div>
                                <div class="color-option" style="background-color: #00a400;" data-color="#00a400"></div>
                            </div>
                        </div>
                    </div>

                    <!-- Photo Upload -->
                    <div class="container-register-form-btn">
                        <div class="input-file-container">
                            <input class="input-file" id="photoUpload" name="profileImage" type="file" accept="image/*"
                                hidden>
                            <label tabindex="0" for="photoUpload" class="input-file-trigger login-form-btn">
                                Choose a Photo
                            </label>
                        </div>
                    </div>


                    <p class="file-return"></p>

                    <div class="container-login-form-btn">
                        <button type="submit" id="nextBtn" class="login-form-btn">
                            Register
                        </button>
                    </div>
                    <div class="text-center p-t-12">
                        <span class="data1">
                            Forgot
                        </span>
                        <a class="data2" href="recoverAccount.html">
                            Password?
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js" integrity="sha512-TPh2Oxlg1zp+kz3nFA0C5vVC6leG/6mm1z9+mA81MI5eaUVqasPLO8Cuk4gMF4gUfP5etR73rgU/8PNMsSesoQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor/select2/select2.min.js"></script>
    <script src="js/main.js"></script>

</body>

</html>