<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="css/globalsecurity.css" />
    <link rel="stylesheet" href="css/indexsecurity.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Syne:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Goblin One:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap"
    />
  </head>
  <body>
    <div class="social-blog-designframerai-b">
      <div class="divframer-a8zwx5">
        <div class="divframer-17cpdoz">
          <div class="divframer-15bqq7s">
            <div class="divframer-9mqhq1">
              <div class="divh2d-752853f9mask-group">
              </div>
              <div class="pframer-text">
                <a href="home.html">
                  <div class="home">Home</div>
                </a>
              </div>
              <div class="pframer-text1">
                <a href="login.html">
                  <div class="home">Login</div>
                </a>
              </div>
              <div class="pframer-text2">
                <a href="register.html">
                <div class="home">Register</div>
                </a>
              </div>
              <div class="pframer-text3">
                <a href="faq.html">
                <div class="home">FAQ</div>
                </a>
              </div>
              <div class="pframer-text4">
                <a href="explore.html">
                <div class="home">Explore</div>
                </a>
              </div>
            </div>
            <div class="heading-1">
              <b class="welcome-to-pixelchat">Welcome to Pixelchat, </b>
              <b class="where-real-connections-container">
                <p class="where-real">where real</p>
                <p class="where-real">connections happen.</p>
              </b>
            </div>
          </div>
        </div>
        <div class="divframer-1gv355n">
          <div class="divframer-tcnceu">
            <div class="divframer-l4fk58">
              <img
                class="y8gjumrecl1ogtneqzigamaujpg-icon"
                alt=""
                src="/publicsecurity/y8gjumrecl1ogtneqzigamaujpg@2x.png"
              />

              <div class="divh2d-45e91fefmask-group">
                <div class="divh2d-45e91fef">
                  <div class="svg1"></div>
                </div>
              </div>
            </div>
            <div class="divframer-19un3sn">
              <div class="heading-3">
                <div class="real-identities-and-container">
                  <p class="where-real">Real Identities and</p>
                  <p class="where-real">Secure</p>
                  <p class="where-real">Connections: Meet</p>
                  <p class="where-real">Genuine Friends</p>
                </div>
              </div>
              <div class="heading-31">
                <div class="pixelchat-connects-genuine-container">
                  <p class="where-real">
                    Pixelchat connects genuine friends with real identities
                  </p>
                  <p class="where-real">
                    using a modern, colorful visual style. Be amazed and
                  </p>
                  <p class="where-real">
                    experience excitement with every interaction.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="divframer-tcnceu">
            <div class="divframer-19un3sn">
              <div class="heading-32">
                <div class="real-identities-and-container">
                  <p class="where-real">Uncompromising</p>
                  <p class="where-real">Security: Three</p>
                  <p class="where-real">Layers of</p>
                  <p class="where-real">Authentication</p>
                </div>
              </div>
              <div class="heading-33">
                <div class="pixelchat-connects-genuine-container">
                  <p class="where-real">
                    Embrace Pixelchat’s steadfast commitment to security
                  </p>
                  <p class="where-real">
                    with email registration, password protection, and two-
                  </p>
                  <p class="where-real">factor image share authentication.</p>
                </div>
              </div>
            </div>
            <div class="divframer-l4fk58">
              <img
                class="y8gjumrecl1ogtneqzigamaujpg-icon"
                alt=""
                src="/publicsecurity/ibdaocmbqlfiueqlepiif8t0jpg@2x.png"
              />

              <div class="divh2d-db1a00a8mask-group">
                <div class="divh2d-45e91fef">
                  <div class="svg1"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="divframer-l63uyt">
          <div class="divh2d-4864706c"></div>
          <div class="divframer-1g5gd84">
            <div class="divframer-piepmc">
              <div class="heading-2">
                <div class="explore-the-virtual-container">
                  <p class="where-real">Explore the</p>
                  <p class="where-real">Virtual World of</p>
                  <p class="where-real">Pixelchat</p>
                </div>
              </div>
              <div class="heading-34">
                <b class="embark-on-a-container">
                  <p class="where-real">
                    Embark on a journey of discovery with Pixelchat’s innovative
                    social
                  </p>
                  <p class="where-real">
                    platform. Join lively discussions, explore interest-based
                    groups,
                  </p>
                  <p class="where-real">
                    and uncover the latest trends in virtual communities.
                  </p>
                </b>
              </div>
              <div class="heading-35">
                <b class="embark-on-a-container">
                  <p class="where-real">
                    Be part of a vibrant online ecosystem, where true
                    connections are
                  </p>
                  <p class="where-real">
                    formed in a safe and enjoyable space. Share your unique
                    talents,
                  </p>
                  <p class="where-real">
                    personality, and experiences with like-minded individuals.
                  </p>
                </b>
              </div>
              <div class="heading-36">
                <b class="embark-on-a-container">
                  <p class="where-real">
                    Confidently engage in meaningful conversations and develop
                  </p>
                  <p class="where-real">
                    deeper connections without worry. Pixelchat’s robust
                  </p>
                  <p class="where-real">
                    cybersecurity ensures that identity thieves are never
                    allowed to
                  </p>
                  <p class="where-real">disrupt your experience.</p>
                </b>
              </div>
            </div>
            <div class="divframer-1ll4x6q">
              <div class="divh2d-adf16819mask-group">
                <div class="divh2d-adf16819">
                  <div class="svg3"></div>
                </div>
              </div>
              <div class="divh2d-adf16819mask-group">
                <div class="divh2d-6ed28ff0">
                  <div class="svg3"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="divframer-1tfm4ul">
          <div class="divh2d-7b6a88c6mask-group">
            <div class="divh2d-7b6a88c6">
              <div class="svg5"></div>
            </div>
          </div>
          <div class="divh2d-7b6a88c6mask-group">
            <div class="divh2d-808f464c">
              <div class="svg5"></div>
            </div>
          </div>
          <div class="divh2d-7b6a88c6mask-group">
            <div class="divh2d-7b6a88c6">
              <div class="svg5"></div>
            </div>
          </div>
          <div class="divh2d-7b6a88c6mask-group">
            <div class="divh2d-808f464c">
              <div class="svg5"></div>
            </div>
          </div>
          <div class="divh2d-7b6a88c6mask-group">
            <div class="divh2d-7b6a88c6">
              <div class="svg5"></div>
            </div>
          </div>
          <div class="divh2d-7b6a88c6mask-group">
            <div class="divh2d-808f464c">
              <div class="svg5"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
