html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    /* Use Futura for a more futuristic feel */
    background-color: #111;
    /* Dark background for a sleek look */
}

body,
div,
ul,
li,
h2,
h4 {
    z-index: 1;
    position: relative;
}

html,
body,
.dashboard {
    height: 100vh;
    overflow: hidden;
}

.space-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url('../images/backspace.jpg') no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
}

button:hover,
.interactive-element:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

.settings-sphere:hover {
    animation: pulse 5s infinite;
}

.media-orb {
    opacity: 0.7;
    transition: opacity 0.3s;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    position: absolute;
    top: random_position;
    /* you'll need JS to randomize this */
    left: random_position;
    /* you'll need JS to randomize this */
    animation: float 5s infinite alternate;
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    background-size: cover;

}

.media-galaxy {
    position: relative;
    width: 100%;
    height: 600px;
    /* adjust as needed */
    overflow: hidden;
}


.media-orb:hover {
    transform: scale(1.2) translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    opacity: 1;
    z-index: 10;
    /* Ensure the orb is above other elements when hovered */
}


.media-orb.hovered::before,
.media-orb.hovered::after {
    /* <-- This ::after selector is for the tooltip arrow */
    content: '';
    position: absolute;
    transition: all 0.3s ease-in-out;
    /* Smoother transitions */
    pointer-events: none;
}

.media-orb.hovered::before {
    content: attr(data-tooltip);
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    /* Semi-transparent dark background */
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    pointer-events: none;
    margin-bottom: 5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    /* Soft white border */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    /* Subtle shadow */
}

.media-orb.hovered::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    background: rgba(0, 0, 0, 0.8);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 2px -2px 2px rgba(0, 0, 0, 0.2);
}

.media-orb.top-boundary:hover::before {
    bottom: auto;
    top: 100%;
    margin-top: 10px;
    margin-bottom: 0;
}

.media-orb.top-boundary:hover::after {
    bottom: auto;
    top: -5px;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.2);
}





@keyframes float {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.globe {
    animation: pulse 10s infinite;
}


.shooting-star {
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    /* Make it a little wider */
    height: 60px;
    /* Make it longer */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    /* This gives a slight fade effect to the star */
    animation: shootAcross 10s infinite;
    transform: rotate(135deg);
    /* Diagonal effect */
    filter: drop-shadow(0 0 6px white);
    /* Soft glow to the star */
}

@keyframes shootAcross {
    0% {
        top: -10%;
        left: -10%;
    }

    100% {
        top: 110%;
        left: 110%;
    }
}

.tooltip {
    position: absolute;
    padding: 8px 12px;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    visibility: hidden;
    transform: translate(-50%, -100%);
    margin-top: -10px;
    /* To move it a little bit above the hovered item */
    transition: opacity 0.3s;
    pointer-events: none;
    /* So it doesn't interfere with other interactions */
    z-index: 9999;

}

.ai-box {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 300px;
    background: rgba(66, 66, 66, 0.904);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.chat-window {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

.dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.globe {
    background-image: url('../images/earth.jpg');
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-size: cover;
    position: absolute;
    top: 20%;
    left: 10%;
}

.nav-controls {
    position: absolute;
    bottom: 10%;
    left: 10%;
}

.media-orb.expanded {
    transform: scale(2);
}


.joystick {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 2px solid #e1e1e6;
    border-radius: 50%;
    background-color: #4e4e8f;
    pointer-events: auto;
    z-index: 10;
    /* or any value higher than other overlapping elements */
    user-select: none;
    /* Standard syntax */
    -webkit-user-select: none;
    /* Safari 3.1+ */
    -moz-user-select: none;
    /* Firefox 2+ */
    -ms-user-select: none;
    /* IE 10+ */
    left: 150px;
    /* Move it 10 pixels from the left of its positioned parent */
    bottom: 150px;
    /* Move it 10 pixels from the top of its positioned parent */

}

.message-monitor {
    margin-bottom: 10px;
    padding: 8px;
    /* Reduce padding a bit for a smaller look */
    background-color: #4e4e8f;
    border-radius: 5px;
    position: absolute;
    top: 20%;
    right: 10%;
    width: 200px;
    /* Fix width for consistency */
    font-size: 14px;
    /* Adjust font size */
    color: #e1e1e6;
    /* Text color for better visibility against the background */
    animation: slideInFromRight 1s forwards;
}

.message-monitor h2 {
    font-size: 16px;
    /* Slightly bigger than the list but still smaller than default */
    margin-bottom: 10px;
    /* Add some margin for spacing */
}

.message-monitor ul {
    list-style: none;
    /* Remove default bullets */
    padding: 0;
    /* Remove default padding */
    margin: 0;
    /* Remove default margin */
}

.message-monitor li {
    margin-bottom: 5px;
    /* Space out the list items */
}

.chat-sections {
    list-style-type: none;
}

.section {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #4e4e8f;
    border-radius: 5px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

.dashboard {
    animation: fadeIn 1s forwards;
}

.globe {
    animation: slideInFromLeft 1s forwards;
}

.nav-controls {
    animation: slideInFromLeft 1.2s forwards;
}

.message-monitor {
    animation: slideInFromRight 1s forwards;
}

.section {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s forwards;
    animation-delay: calc(0.3s * var(--i));
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Radial Menu Styling */


.radial-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    z-index: 10000;
}

.menu-button {
    background-color: #1c1c1c;
    border: 3px solid #9b30ff;
    color: #FFFFFF;
    border-radius: 50%;
    width: 100%;
    padding: 20px 0;
    cursor: pointer;
    font-weight: 700;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.5s;
    box-shadow: 0 0 25px rgba(155, 48, 255, 0.6);
    animation: pulse 1.5s infinite alternate;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 10px #9b30ff;
    }

    100% {
        box-shadow: 0 0 25px #9b30ff, 0 0 35px #9b30ff;
    }
}

.menu-button:active {
    transform: scale(0.95);
    animation: none;
    box-shadow: 0 0 35px #9b30ff;
}

.radial-menu .menu-list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style-type: none;
    padding-left: 0;
    margin-top: 20px;
    width: 400px;
    height: 250px;
    pointer-events: none;
}

.menu-list li {
    position: absolute;
    background-color: rgba(155, 48, 255, 0.5);
    color: #FFFFFF;
    border-radius: 10px;
    padding: 10px 20px;
    opacity: 0;
    transform-origin: bottom center;
    transform: scale(0) translateY(-100px);
    transition: opacity 0.5s, transform 0.5s;
    cursor: pointer;
    will-change: transform, opacity;
    box-shadow: 0 0 15px rgba(155, 48, 255, 0.6);
}

/* Specific positions for the list items in a semi-circular layout */
.menu-list li:nth-child(1) {
    left: 10%;
    bottom: 10%;
}

.menu-list li:nth-child(2) {
    left: 30%;
    bottom: 5%;
}

.menu-list li:nth-child(3) {
    left: 50%;
    bottom: 0;
}

.menu-list li:nth-child(4) {
    right: 30%;
    bottom: 5%;
}

.menu-list li:nth-child(5) {
    right: 20%;
    bottom: 20%;
}

.menu-list li:nth-child(6) {
    transform: translate(-280px, 3px) scale(1) !important;
}

.menu-list li:nth-child(7) {
    bottom: 83% !important;
    top: 0% !important;
    left: 30% !important;
    transform: translate(-100.73px, -62.228px) !important
}

.menu-list li:hover {
    background-color: rgba(155, 48, 255, 0.8);
    transform: scale(1.05);
}


.menu-button.open~.menu-list {
    display: block;
}

.menu-button.open~.menu-list li {
    opacity: 1;
    transform: scale(1) translateY(0);
    pointer-events: auto;
}


/* stagger the animation of list items */
.menu-button.open~.menu-list li:nth-child(1) {
    transition-delay: 0.2s;
}

.menu-button.open~.menu-list li:nth-child(2) {
    transition-delay: 0.3s;
}

.menu-button.open~.menu-list li:nth-child(3) {
    transition-delay: 0.4s;
}

.menu-button.open~.menu-list li:nth-child(4) {
    transition-delay: 0.5s;
}

.menu-button.open~.menu-list li:nth-child(5) {
    transition-delay: 0.6s;
}

.menu-button.open~.menu-list li:nth-child(6) {
    transition-delay: 0.7s;
}

.menu-button.open~.menu-list li:nth-child(7) {
    transition-delay: 0.8s;
}

.menu-list li.highlighted {
    animation: pulse 1.5s infinite alternate;
    background-color: rgba(155, 48, 255, 0.8);
}


/* System Settings Sphere */
.system-settings-sphere {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

.settings-button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    transition: transform 0.3s ease;
}

.settings-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.settings-list li {
    padding: 10px 15px;
    color: #fff;
    cursor: pointer;
    border-bottom: 1px solid #444;
}

.settings-list li:last-child {
    border-bottom: none;
}

.settings-list li:hover {
    background-color: #444;
}

/* Emergency Eject Button */
.emergency-eject {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 12px;
    /* Smaller text size */
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

/* General Styles for the AI Assistant (Orion AI) */
.ai-box{
    z-index: 100;
}


.ai-box:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}


/* When minimized, hide chat window, input field, and button */
.ai-box.minimized .chat-window,
.ai-box.minimized #askOrion,
.ai-box.minimized button {
    display: none;
}

/* Title Style - hidden by default */
.ai-box h4 {
    display: none;
    font-weight: 600;
    /* Bold title */
    margin-bottom: 10px;
}

/* Chat window styles */
.chat-window {
    height: 200px;
    width: 250px;
    background-color: #ffffff3d;
    overflow-y: auto;
    margin-bottom: 10px;
    z-index: inherit;
    border: 1px solid #ffffff3d;
    border-radius: 5px;
    display: block;
    /* Modified to show by default */
}

/* Input field to ask Orion */
#askOrion {
    width: 250px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #fff;
    z-index: 11000;
    background-color: #ffffff3d;
    border: 1px solid #ffffff3d;
    display: block;
    /* Modified to show by default */
}

#askOrion::placeholder {
    color: #fff;
}

/* Button to talk to Orion */
button[onclick="talkToOrion()"] {
    background-color: #2c3e50;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    display: block;
    /* Modified to show by default */
}

/* Styles for the expanded AI box */
.ai-box.expanded {
    width: 300px;
    height: auto;
    border-radius: 8px;
    padding: 20px;
}

/* When expanded, make sure chat elements are visible */
.ai-box.expanded h4,
.ai-box.expanded .chat-window,
.ai-box.expanded #askOrion,
.ai-box.expanded button {
    display: block;
}

#toggleAIButton {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 60px;
    height: 60px;
    font-size: 10px;
    border-radius: 50%;
    background: radial-gradient(circle at center, #888, #333);
    border: 2px solid #fff;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    color: #ffffff9f;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 999;
    transition: all 0.5s ease-in-out;
    flex-direction: column;
}

.ai-box.minimized {
    display: none;
}
#toggleAIButton:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
}

.chat-window {
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ccc;
}

.user-question {
    background-color: #e6f7ff;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
}

.ai-response {
    background-color: #f2e6ff;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
}


/* ----------------------------------Modals-------------------------------------------- */

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10000;
    transition: all 0.4s ease-in-out;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, #ffffff, #f3f3f3);
    padding: 35px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    transition: transform 0.4s, box-shadow 0.4s;
    width: 80%;
    max-width: 550px;
}

.modal-content:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}

.close-btn {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    font-size: 26px;
    background: #fff;
    border: 1px solid #aaa;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 28px;
    color: #aaa;
    transition: all 0.2s;
}

.close-btn:hover {
    background: #f3f3f3;
    border-color: #777;
    color: #555;
    transform: rotate(90deg);
}

/* Form Elements Styles */
button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin-top: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

textarea {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s, box-shadow 0.3s;
    margin-top: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    resize: vertical;
}

textarea:focus {
    border-color: #007BFF;
    box-shadow: 0 2px 15px rgba(0, 75, 255, 0.1);
}
