.svg {
  position: absolute;
  top: 100px;
  left: calc(50% - 531.66px);
  width: 1063.33px;
  height: 328.63px;
  overflow: hidden;
}
.xsu9iptbhtbtxmmq9lj0kxd5kp4jp-icon {
  position: absolute;
  height: calc(100% - 597.82px);
  width: calc(100% - 200px);
  top: 497.83px;
  right: 100px;
  bottom: 99.99px;
  left: 100px;
  border-radius: var(--br-xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.pixelchat-control-center {
  position: relative;
  line-height: 19.2px;
}
.pframer-text,
.pframer-text1,
.pframer-text2 {
  position: absolute;
  width: calc(100% - 885.42px);
  top: -1.67px;
  right: 885.42px;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: 0 6.910003662109375px 0.8700008392333984px 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.pframer-text1,
.pframer-text2 {
  width: calc(100% - 980.39px);
  right: 491.06px;
  left: 489.33px;
  padding: 0 1.94000244140625px 0.8700008392333984px 0;
}
.pframer-text2 {
  width: calc(100% - 883.7px);
  right: 0;
  left: 883.7px;
  padding: 0 2.6300048828125px 0.8700008392333984px 0;
}
.divframer-1os3p79 {
  position: absolute;
  top: 428.63px;
  left: calc(50% - 531.66px);
  width: 1063.33px;
  height: 69.2px;
  overflow: hidden;
}
.admin {
  position: absolute;
  top: 47.5px;
  left: 188.66px;
  font-size: 270px;
  color: var(--color-white);
  display: inline-block;
  width: 946px;
  height: 272px;
}
.divframer-19on739 {
  align-self: stretch;
  position: relative;
  background-color: var(--color-darkslategray);
  height: 1097.82px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 800px;
  font-size: var(--font-size-mini);
  color: var(--color-sandybrown);
}
.divh2d-52b316df {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(
      50% 50%at 50% 50%,
      #e76f51 2.36%,
      transparent 2.36%
    ),
    radial-gradient(50% 50%at 50% 50%, #e76f51 2.36%, #fff 2.36%);
  opacity: 0.5;
}
.pixelchat-mastery {
  position: relative;
  line-height: 57.6px;
  font-weight: 800;
}
.heading-2 {
  position: absolute;
  width: 100%;
  top: -1px;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: 0 571px 0.5900001525878906px 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.smash-your-way {
  margin: 0;
}
.smash-your-way-container {
  position: relative;
  line-height: 30px;
}
.heading-3,
.heading-31,
.heading-32 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading-3 {
  top: -0.33px;
  padding: 0 var(--padding-7xs) 0.3299999237060547px 0;
}
.heading-31,
.heading-32 {
  top: 129.67px;
  padding: 0 44px 0.3299999237060547px 0;
}
.heading-32 {
  top: 259.67px;
  padding: 0 14px 0.3299999237060547px 0;
}
.divframer-iishai {
  position: absolute;
  width: calc(100% - 400px);
  top: 97.59px;
  right: 400px;
  left: 0;
  height: 380px;
  overflow: hidden;
  font-size: var(--font-size-lgi);
  color: var(--color-darkslategray);
}
.divframer-13t5h9d {
  position: absolute;
  top: 100px;
  left: calc(50% - 499.99px);
  width: 1000px;
  height: 477.59px;
  overflow: hidden;
}
.divframer-133h1ov {
  align-self: stretch;
  position: relative;
  background-color: var(--color-white);
  height: 677.59px;
  overflow: hidden;
  flex-shrink: 0;
}
.zuqhxkhcgp8cpgxth2soju7w04jpg-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  opacity: 0.3;
}
.administrate-like-a {
  position: relative;
  line-height: 88px;
  font-weight: 800;
}
.heading-1 {
  position: absolute;
  width: calc(100% - 263.33px);
  top: 355.33px;
  right: 131.66px;
  left: 131.67px;
  display: flex;
  flex-direction: row;
  padding: 0 20.09000015258789px 0.6700000762939453px 19.90999984741211px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
}
.divframer-9qi1a9 {
  align-self: stretch;
  position: relative;
  background-color: var(--color-darkslategray);
  height: 800px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 800px;
  text-align: center;
  font-size: 79px;
  color: var(--color-white);
}
.bh7skipuy8uyqviqpqntvk6q690jp-icon {
  position: relative;
  border-radius: var(--br-21xl);
  width: 470px;
  height: 479.58px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.voyage-through-chat-container {
  position: relative;
  line-height: 38.4px;
}
.heading-33 {
  width: 470px;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-3xs) 0 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.nurture-your-connections-container {
  position: relative;
  line-height: 24px;
}
.heading-34 {
  width: 400px;
  display: flex;
  flex-direction: row;
  padding: 0 16px 0.6699999570846558px 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-base);
  font-family: var(--font-space-grotesk);
}
.divframer-15jdpvt,
.divframer-awgvm3 {
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.divframer-awgvm3 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 19.12px;
}
.divframer-15jdpvt {
  width: 1000px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-41xl);
  max-width: 1200px;
}
.heading-35 {
  width: 470px;
  flex-direction: row;
  padding: 0 65px 0 0;
  align-items: flex-start;
}
.divframer-1cijk7q,
.heading-35,
.heading-36 {
  display: flex;
  box-sizing: border-box;
  justify-content: flex-start;
}
.heading-36 {
  width: 400px;
  flex-direction: row;
  padding: 0 15px 0.6699999570846558px 0;
  align-items: flex-start;
  font-size: var(--font-size-base);
  font-family: var(--font-space-grotesk);
}
.divframer-1cijk7q {
  background-color: var(--color-white);
  width: 1200px;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-81xl) var(--padding-81xl) 100.01004028320312px;
  align-items: center;
  gap: var(--gap-41xl);
  font-size: var(--font-size-13xl);
  color: var(--color-darkslategray);
  font-family: var(--font-unica-one);
}
.b104ag3ucqifdg8m5tj3sfmoi1yjp-icon {
  position: relative;
  border-radius: var(--br-3xs);
  width: 100px;
  height: 100px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.traffic-analytics {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 30px;
}
.pframer-text3 {
  position: absolute;
  width: calc(100% - 600.7px);
  top: -0.34px;
  right: 600.7px;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: 0 0.3000030517578125px 0.3399999141693115px 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
}
.real-time-insights {
  position: relative;
  line-height: 21px;
}
.pframer-text4 {
  position: absolute;
  width: calc(100% - 620.93px);
  top: 30px;
  right: 620.93px;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: 0 3.0699996948242188px 0 var(--padding-10xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
  font-size: var(--font-size-smi);
}
.divframer-f5xnnd {
  flex: 1;
  position: relative;
  height: 51px;
  overflow: hidden;
}
.vector-icon {
  position: relative;
  width: 12px;
  height: 22px;
}
.image {
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
  padding: 4.999624729156494px 8.999000549316406px 4.999749660491943px
    10.999750137329102px;
  box-sizing: border-box;
  align-items: flex-start;
}
.divframer-1lrpzfn,
.divframer-1wjfm3w,
.image {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.divframer-1wjfm3w {
  width: 32px;
  height: 32px;
  align-items: flex-start;
}
.divframer-1lrpzfn {
  align-self: stretch;
  border-radius: var(--br-xl);
  background-color: var(--color-whitesmoke);
  overflow: hidden;
  padding: var(--padding-3xs) var(--padding-21xl) var(--padding-3xs)
    var(--padding-3xs);
  align-items: center;
  gap: var(--gap-21xl);
}
.pframer-text5 {
  width: calc(100% - 620.35px);
  top: -0.34px;
  right: 620.35px;
  padding: 0 0.6500015258789062px 0.3399999141693115px 0;
}
.pframer-text5,
.pframer-text6,
.pframer-text7,
.pframer-text8 {
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
}
.pframer-text6 {
  width: calc(100% - 611.86px);
  top: 30px;
  right: 611.86px;
  padding: 0 2.1399993896484375px 0 var(--padding-10xs);
  font-size: var(--font-size-smi);
}
.pframer-text7,
.pframer-text8 {
  width: calc(100% - 585.5px);
  top: -0.34px;
  right: 585.5px;
  padding: 0 0.5px 0.3399999141693115px var(--padding-12xs);
}
.pframer-text8 {
  width: calc(100% - 598.1px);
  top: 30px;
  right: 598.1px;
  padding: 0 1.899993896484375px 0 var(--padding-10xs);
  font-size: var(--font-size-smi);
}
.divframer-1gurlz7,
.divframer-1syxk8b {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.divframer-1syxk8b {
  width: 100%;
  justify-content: center;
  gap: var(--gap-xl);
  max-width: 1000px;
}
.divframer-1gurlz7 {
  align-self: stretch;
  background-color: var(--color-white);
  padding: var(--padding-81xl) 131.6599578857422px var(--padding-81xl)
    131.6699981689453px;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-lgi);
}
.ready-to-command {
  position: relative;
  line-height: 57.6px;
}
.heading-21 {
  position: absolute;
  width: calc(100% - 200px);
  top: -1px;
  right: 200px;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: 0 191px 0.5900001525878906px 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.divframer-192kxbt {
  position: relative;
  width: 1000px;
  height: 137.59px;
  overflow: hidden;
  flex-shrink: 0;
  max-width: 1200px;
}
.dashboard-overview {
  position: relative;
  line-height: 48px;
}
.heading-22,
.heading-23 {
  position: absolute;
  width: calc(100% - 525px);
  top: 0;
  right: 525px;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: 0 102px 0 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading-23 {
  top: -0.67px;
  right: 0;
  left: 525px;
  padding: 0 19px 0.6699999570846558px 0;
  font-size: var(--font-size-xl);
  font-family: var(--font-nunito);
}
.vector-icon3 {
  position: relative;
  width: 100.93px;
  height: 91.35px;
}
.svg1 {
  position: absolute;
  top: 128.45px;
  left: calc(50% + 266.4px);
  width: 200px;
  height: 200px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 64.00955963134766px 49.99966812133789px 63.99066162109375px
    50.00021743774414px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(-25deg);
  transform-origin: 0 0;
}
.divframer-1tobods {
  width: 100%;
  position: relative;
  height: 180px;
  max-width: 1000px;
}
.divframer-1lx80jl {
  align-self: stretch;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-81xl);
  align-items: center;
  justify-content: flex-start;
}
.heading-24,
.heading-25 {
  position: absolute;
  width: calc(100% - 525px);
  top: 0;
  right: 525px;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: 0 129px 0 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading-25 {
  top: -0.67px;
  right: 0;
  left: 525px;
  padding: 0 0 0.6699999570846558px;
  font-size: var(--font-size-xl);
  font-family: var(--font-nunito);
}
.vector-icon4 {
  position: relative;
  width: 77.64px;
  height: 108.43px;
}
.heading-26,
.svg2 {
  position: absolute;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.svg2 {
  top: -5.75px;
  left: calc(50% + 329.72px);
  width: 200px;
  height: 200px;
  overflow: hidden;
  padding: 46.49970626831055px 64.99996185302734px 45.499996185302734px
    63.99995422363281px;
  transform: rotate(15deg);
  transform-origin: 0 0;
}
.heading-26 {
  width: calc(100% - 525px);
  top: 0;
  right: 525px;
  left: 0;
  padding: 0 110px 0 0;
}
.vector-icon5 {
  position: relative;
  width: 111px;
  height: 68.2px;
}
.svg3 {
  position: absolute;
  top: -70.65px;
  left: calc(50% - 672.91px);
  width: 200px;
  height: 200px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 68.26100158691406px 44.85328674316406px 68.73843383789062px
    44.1468505859375px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(-15deg);
  transform-origin: 0 0;
}
.vector-icon6 {
  position: relative;
  width: 127px;
  height: 138.15px;
}
.svg4 {
  position: absolute;
  top: -11.4px;
  left: calc(50% + 340.8px);
  width: 200px;
  height: 200px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 32.165000915527344px 36.05799865722656px 32.834800720214844px
    36.94200134277344px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(20deg);
  transform-origin: 0 0;
}
.divframer-hmadso {
  width: 100%;
  position: relative;
  height: 120px;
  max-width: 1000px;
}
.heading-28,
.heading-29 {
  position: absolute;
  width: calc(100% - 525px);
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading-28 {
  top: 0;
  right: 525px;
  left: 0;
  padding: 0 80px 0 0;
}
.heading-29 {
  top: -0.67px;
  right: 0;
  left: 525px;
  padding: 0 var(--padding-9xs) 0.6699999570846558px 0;
  font-size: var(--font-size-xl);
  font-family: var(--font-nunito);
}
.vector-icon7 {
  position: relative;
  width: 127px;
  height: 140.16px;
}
.heading-210,
.svg5 {
  position: absolute;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.svg5 {
  top: -122.42px;
  left: calc(50% - 620.28px);
  width: 200px;
  height: 200px;
  overflow: hidden;
  padding: 32.165000915527344px 36.05799865722656px 32.834800720214844px
    36.94200134277344px;
  transform: rotate(15deg);
  transform-origin: 0 0;
}
.heading-210 {
  width: calc(100% - 525px);
  top: 0;
  right: 525px;
  left: 0;
  padding: 0 234px 0 0;
}
.vector-icon9 {
  position: relative;
  width: 140.94px;
  height: 100.5px;
}
.heading-212,
.heading-213,
.svg7 {
  position: absolute;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.svg7 {
  top: 46.01px;
  left: calc(50% + 277.09px);
  width: 200px;
  height: 200px;
  overflow: hidden;
  padding: 66.62185668945312px 29.999996185302734px 66.3779525756836px
    29.062000274658203px;
  transform: rotate(-15deg);
  transform-origin: 0 0;
}
.heading-212,
.heading-213 {
  width: calc(100% - 525px);
}
.heading-212 {
  top: 0;
  right: 525px;
  left: 0;
  padding: 0 var(--padding-10xs) 0 0;
}
.heading-213 {
  top: -0.67px;
  right: 0;
  left: 525px;
  padding: 0 13px 0.6699999570846558px 0;
  font-size: var(--font-size-xl);
  font-family: var(--font-nunito);
}
.vector-icon10 {
  position: relative;
  width: 103.67px;
  height: 84.32px;
}
.svg8 {
  position: absolute;
  top: -81.09px;
  left: calc(50% - 666.14px);
  width: 200px;
  height: 200px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 64.00955963134766px 49.99966812133789px 63.99066162109375px
    50.00021743774414px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(-10deg);
  transform-origin: 0 0;
}
.vector-icon11 {
  position: relative;
  width: 78.65px;
  height: 114.07px;
}
.svg9 {
  position: absolute;
  top: 0.85px;
  left: calc(50% + 319.17px);
  width: 200px;
  height: 200px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 43.02299880981445px 65.27399444580078px 42.976802825927734px
    64.72621154785156px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(10deg);
  transform-origin: 0 0;
}
.heading-214 {
  top: 0;
  right: 525px;
  left: 0;
  padding: 0 176px 0 0;
}
.heading-214,
.heading-216,
.heading-217 {
  position: absolute;
  width: calc(100% - 525px);
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading-216 {
  top: 0;
  right: 525px;
  left: 0;
  padding: 0 199px 0 0;
}
.heading-217 {
  top: -0.67px;
  right: 0;
  left: 525px;
  padding: 0 var(--padding-7xs) 0.6699999570846558px 0;
  font-size: var(--font-size-xl);
  font-family: var(--font-nunito);
}
.vector-icon12 {
  position: relative;
  width: 76.22px;
  height: 86px;
}
.heading-218,
.heading-219,
.svg10 {
  position: absolute;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.svg10 {
  top: -132.74px;
  left: calc(50% - 597.67px);
  width: 200px;
  height: 200px;
  overflow: hidden;
  padding: 60.51599884033203px 62.577999114990234px 61.48399353027344px
    62.422000885009766px;
  transform: rotate(25deg);
  transform-origin: 0 0;
}
.heading-218,
.heading-219 {
  width: calc(100% - 525px);
  top: 0;
  right: 525px;
  left: 0;
  padding: 0 124px 0 0;
}
.heading-219 {
  top: -0.67px;
  right: 0;
  left: 525px;
  padding: 0 36px 0.6699999570846558px 0;
  font-size: var(--font-size-xl);
  font-family: var(--font-nunito);
}
.vector-icon13 {
  position: relative;
  width: 141.73px;
  height: 79.01px;
}
.svg11 {
  position: absolute;
  top: 30.85px;
  left: calc(50% + 319.17px);
  width: 200px;
  height: 200px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 66.11799621582031px 31.999996185302734px 66.88184356689453px
    32.0002326965332px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(10deg);
  transform-origin: 0 0;
}
.divframer-x5ra7 {
  width: 100%;
  position: relative;
  height: 150px;
  max-width: 1000px;
}
.divframer-1ec65aw {
  background-color: var(--color-white);
  width: 1200px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 0;
  font-size: var(--font-size-21xl);
  font-family: var(--font-orelega-one);
}
.help {
  position: relative;
  letter-spacing: -0.4px;
  line-height: 24px;
}
.pframer-text10,
.pframer-text9 {
  display: flex;
  flex-direction: row;
  padding: 0 0.049999237060546875px var(--padding-12xs) 0;
  align-items: flex-start;
  justify-content: flex-start;
}
.pframer-text10 {
  padding: 0 0.3600006103515625px var(--padding-12xs) 0;
  font-size: var(--font-size-base);
}
.pframer-text11 {
  flex-direction: row;
  padding: 0 1.5800018310546875px var(--padding-12xs) 0;
}
.divframer-1qq6lrn,
.divframer-1qxg16,
.pframer-text11,
.pframer-text12 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.pframer-text12 {
  flex-direction: row;
  padding: 0 0.4099998474121094px var(--padding-12xs) 0;
}
.divframer-1qq6lrn,
.divframer-1qxg16 {
  flex-direction: column;
  gap: var(--gap-4xs);
}
.divframer-1qxg16 {
  width: 300px;
  padding: 0 241.58999633789062px 0 0;
  box-sizing: border-box;
  gap: var(--gap-sm);
}
.pframer-text13,
.pframer-text14,
.pframer-text15 {
  display: flex;
  flex-direction: row;
  padding: 0 1.8199996948242188px var(--padding-12xs) 0;
  align-items: flex-start;
  justify-content: flex-start;
}
.pframer-text14,
.pframer-text15 {
  padding: 0 0.20000076293945312px var(--padding-12xs) 0;
}
.pframer-text15 {
  padding: 0 0.5900001525878906px var(--padding-12xs) 0;
}
.pframer-text16 {
  flex-direction: row;
  padding: 0 1.5200004577636719px var(--padding-12xs) 0;
}
.divframer-hejsyf,
.pframer-text16,
.pframer-text18,
.pframer-text19 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.divframer-hejsyf {
  width: 300px;
  flex-direction: column;
  padding: 0 240.41000366210938px 0 0;
  box-sizing: border-box;
  gap: var(--gap-sm);
}
.pframer-text18,
.pframer-text19 {
  flex-direction: row;
  padding: 0 1.1800003051757812px var(--padding-12xs) 0;
}
.pframer-text19 {
  padding: 0 1.0499992370605469px var(--padding-12xs) 0;
}
.pframer-text20 {
  flex-direction: row;
  padding: 0 1.979999542236328var (--padding-12xs) 1px 0;
}
.divframer-1fsrbvm,
.divframer-2a86q1,
.pframer-text20,
.pframer-text21 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.divframer-1fsrbvm {
  width: 300px;
  flex-direction: column;
  padding: 0 233.82000732421875px 0 0;
  box-sizing: border-box;
  gap: var(--gap-sm);
}
.divframer-2a86q1,
.pframer-text21 {
  flex-direction: row;
}
.divframer-2a86q1 {
  width: 100%;
  flex-wrap: wrap;
  padding: 0 20px 0 0;
  box-sizing: border-box;
  gap: var(--gap-21xl);
  max-width: 1000px;
  z-index: 1;
}
.pframer-text21 {
  padding: 0 6.829986572265625px var(--padding-12xs) 0;
}
.divframer-19z5w59,
.pseudo {
  width: 100%;
  box-sizing: border-box;
}
.divframer-19z5w59 {
  display: flex;
  flex-direction: row;
  padding: 0 728.1700439453125px 0 0;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  z-index: 2;
}
.pseudo {
  position: absolute;
  margin: 0 !important;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-top: 0.7px solid rgba(0, 0, 0, 0.05);
  z-index: 3;
}
.footer {
  background-color: var(--color-white);
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 59px;
  font-size: var(--font-size-mini);
  font-family: var(--font-inter);
}
.image-icon {
  position: relative;
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.vector-icon14 {
  position: relative;
  width: 26px;
  height: 25.91px;
}
.image3 {
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: 3.0012190341949463px 3.000000238418579px 3.0868756771087646px
    3.000180959701538px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-icon15 {
  position: relative;
  width: 24px;
  height: 27px;
}
.divframer-1g5r9t,
.image4 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.image4 {
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-9xs) 3.999998092651367px 0.9993820190429688px
    var(--padding-9xs);
  box-sizing: border-box;
  align-items: flex-start;
}
.divframer-1g5r9t {
  align-items: center;
  gap: var(--gap-xl);
}
.divframer-16omxf0,
.pframer-text22 {
  overflow: hidden;
  justify-content: center;
}
.pframer-text22 {
  width: 1000px;
  display: flex;
  flex-direction: row;
  padding: 0 311.1499938964844px 0.6699999570846558px 311.8500061035156px;
  box-sizing: border-box;
  align-items: flex-start;
}
.divframer-16omxf0 {
  width: 1200px;
  padding: 0 var(--padding-81xl);
  gap: 19.33px;
  text-align: center;
  font-size: var(--font-size-base);
  font-family: var(--font-nunito);
}
.divframer-16omxf0,
.divframer-72rtr7,
.divframer-rhmz90 {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
}
.divframer-rhmz90 {
  width: 1200px;
  padding: var(--padding-81xl) 0;
  justify-content: center;
  gap: var(--gap-21xl);
  font-family: var(--font-unica-one);
}
.divframer-72rtr7 {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 0 0 0.000244140625px;
  justify-content: flex-start;
  min-height: 550px;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
